<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Raya's Shop</title>
    <!-- <script src="scripts/shop.js"></script> -->
    <link rel="stylesheet" href="Style/shop.css">
    <script src="https://unpkg.com/axios@1.1.2/dist/axios.min.js" ></script>
    <script src="https://kit.fontawesome.com/7664d663b2.js"  crossorigin="anonymous"></script>
    <script src="scripts/shop.js" defer></script>
</head>
<body >
    <main class="main">
        <!-- here we will have nav bar, product lists, query bar -->
        <!-- <h1>hi</h1> -->
        <div class="nav">
            <div class="logo"><img src="/Images/1200px-TK_sandbox_icon.svg.png" alt=""><h1>Sandbox</h1></div>
            <div class="user">
                <div class="user-card" onclick="userCardClicked(this)">
                    <%= locals.user || 'Guest'  %>
                    
                </div>
                <ul class="user-list">
                    <li class="user-util"><a href="/shop/dashboard">Dashboard</a></li>
                    <li class="user-util"><a href="/shop/cart">Cart</a></li>
                    <li class="user-util <%= locals.login && 'logged' %>"><a href="/home/login">Login</a></li>
                    <!-- <li class="user-util"></li> -->
                </ul>
            </div>
            <div class="dropdown">
                <button class="dropbtn">
                    <i class="fa fa-caret-down"></i>
                </button>
                <ul class="util">
                    <li class="navButt"><a href="/home">Home</a></li>
                    <li class="navButt"><a href="/snake">Snake Game</a> </li>
                    <li class="navButt"><a href="/calendar">Calendar</a></li>
                    <li class="navButt"><a href="/shop">Shopping</a></li>
                    <li class="navButt"><a href="/todo">To-do List</a></li>
                </ul>
            </div>
        </div>
       
    <section class="site">
        <div class="banner">
            <div>
            </div>
                <h1>
                    Explore your ideal marketplace.
                </h1>
            </div>
            <div class="query-bar">
                <i class="fa-solid fa-magnifying-glass" style="color: white;"></i>
                <form onsubmit="searched(this, event)">
                    <input id='query-search' type="search" name="q" placeholder="Search">
                </form>
                <div class="product-dropdown">
                    <button class="dropbtn-prod" onclick="dropBtnProdClicked(this)">
                        <i class="fa-solid fa-bars" ></i>
                    </button>
                    <ul class="product-utils">
                        <!-- <li class="category" value="">smartphones</li>
                        <li class="category" value="">smartphones</li>
                        <li class="category" value="">bags</li>
                        <li class="category" value="">bags</li> -->
                        <template>
                            <li class="category"></li>
                        </template>
                    </ul>
                </div>
            </div>
        <h1>Products</h1>
        <div class="products">
            <ul class="product-list">
                <!-- <li class="product">
                    <div class="product-card 1">
                        
                    </div>
                </li>
                <li class="product">
                    <div class="product-card 2"></div>
                </li>
                <li class="product">
                    <div class="product-card 3"></div>
                </li>
                <li class="product">
                    <div class="product-card 4"></div>
                </li> -->
            </ul>
        </div>
        <div class="pagination">
            <button class="prevBtn" onclick="prevBtn()">
                <i class="fa-solid fa-arrow-left"></i>
                prev
            </button>
            <ul>
               
            </ul>

            <button class="nextBtn" onclick="nextBtn()">
                next
                <i class="fa-solid fa-arrow-right"></i>
            </button>
        </div>
    </section>
    <footer class="footer">
        <div class="footer-logo">
            <img src="/Images/1200px-TK_sandbox_icon.svg.png" alt="">
            <h1>Sandbox</h1>
            <p>Special thanks to DOE</p>
        </div>
        <div class="footer-socials">
            <div class="socials"><a href="#">Twitter: @something</a></div>
            <div class="socials"><a href="#">Instagram: @something</a></div>
            <div class="socials"><a href="#">Github: @something</a></div>
        </div>        
    </footer>




    </main>
</body>
</html>