<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Raya's Shop</title>
    <!-- <script src="scripts/shop.js"></script> -->
    <link rel="stylesheet" href="../../Style/shopItem.css">
    <script src="https://unpkg.com/axios@1.1.2/dist/axios.min.js" ></script>
    <script src="https://kit.fontawesome.com/7664d663b2.js"  crossorigin="anonymous"></script>
    <script src="../../scripts/shopItem.js" defer></script>
</head>
<body >
    <main class="main">
        <!-- here we will have nav bar, product lists, query bar -->
        <!-- <h1>hi</h1> -->
        <div class="nav">
            <div class="logo"><img src="/Images/1200px-TK_sandbox_icon.svg.png" alt=""><h1>Sandbox</h1></div>
            <div class="user">
                <div class="user-card" onclick="userCardClicked(this)">
                    Guest
                </div>
                <ul class="user-list">
                    <li class="user-util"><a href="#">Dashboard</a></li>
                    <li class="user-util"><a href="#">Cart</a></li>
                    <li class="user-util"><a href="#">Login</a></li>
                    <!-- <li class="user-util"></li> -->
                </ul>
            </div>
            <div class="dropdown">
                <button class="dropbtn">
                    <i class="fa fa-caret-down"></i>
                </button>
                <ul class="util">
                    <li class="navButt"><a href="/home">Home</a></li>
                    <li class="navButt"><a href="/snake">Snake Game</a> </li>
                    <li class="navButt"><a href="/calendar">Calendar</a></li>
                    <li class="navButt"><a href="/shop">Shopping</a></li>
                    <li class="navButt"><a href="/todo">To-do List</a></li>
                </ul>
            </div>
        </div>
       
    <section class="site">
      <div class="product">
        <template>
            <button class="exit-btn" onclick="window.location.href = '/shop'" >
                <i class="fa-solid fa-x"></i>
            </button>
            <div class="prod-image">
                <img src="" alt="">
            </div>
            <div class="prod-info">
                <h1></h1>
                <span></span>
                <p></p>
                <h2 class="rating"></h2>
                <button class="buy-btn">
                    <span></span>
                    <i class="fa-solid fa-cart-shopping"></i>
                </button>
            </div>
         
        </template>
        
      </div>
    </section>
    <footer class="footer">
        <div class="footer-logo">
            <img src="/Images/1200px-TK_sandbox_icon.svg.png" alt="">
            <h1>Sandbox</h1>
            <p>Special thanks to DOE</p>
        </div>
        <div class="footer-socials">
            <div class="socials"><a href="#">Twitter: @something</a></div>
            <div class="socials"><a href="#">Instagram: @something</a></div>
            <div class="socials"><a href="#">Github: @something</a></div>
        </div>        
    </footer>




    </main>
</body>
</html>