@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
/* @import url('../Style/index.css'); */

* {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    margin: none;
    /* overflow-x: scroll; */
}

:root {
    --color1: #000000;
    --color2: #111111;
    --color3: #222222;
    --color4:  #636363;
    --credBlock: #011e4f
}

body {
    padding: 0;
    margin: 0;
    background: var(--color3);
}

body::-webkit-scrollbar {
    width: 1em;
       
   }
   
   body::-webkit-scrollbar-track {
    margin-block: -3vh;
    background-color: #1D1D1D;
   }
   
   body::-webkit-scrollbar-thumb {
    background-color: white;
    margin: 0;
   }

   .products::-webkit-scrollbar {
    width: 1em;
    border-radius: 10px;
       
   }
   
   .products::-webkit-scrollbar-track {
    /* margin-block: -4.4vh; */
    border-radius: 10px;
    background-color: #1D1D1D;
   }
   
   .products::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 10px;
    margin: 0;
   }
   
   
   
   
.main {
    padding: 0;
    margin: 0;
    
}

.nav {
    width: 100%;
    padding: 10px;
    /* height: 10vh; */
    /* position: absolute; */
    display: flex;
    align-items: center;
    margin: none;
    display: flex;
    background-color: var(--color2);
}

.logo {
    /* outline: red solid 2px; */
    display: flex;
    justify-content: start;
    padding-left: 10px;
    align-items: center;
    /* width: 200px; */
    /* height: 50px; */
}



.logo > h1 {
    font-size: 1.4rem;
    color: white;
}

.logo > img {
    width: 50px;
    margin: 15px;
}


.dropdown {
    overflow: hidden;
    order:3;
    padding-block: 5px;
}
  
  .dropbtn {
    font-size: 2rem;  
    border: none;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    outline: none;
    color: white;
    padding-inline: 30px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }

.dropbtn:hover {
    color: black;
}

  .dropdown:hover .util{
    /* transition: 200ms; */
    z-index: 99;
      display: block;
  }


.util{
    /* display:flex; */
    /* transition: 200ms; */
    display: none;
    position: absolute;
    width: 100%;
    top: 60px;
    left: 0;
    padding: 0;
    background-color: var(--color2);

}



.navButt{
 display: flex;
 justify-content: center;
 width: 100%;
 margin: 0;

}

.navButt > a:hover{
    color: black;
}


.navButt > a {
    padding: 20px;
    color: white;
    font-size: 1.2rem;
    text-decoration: inherit;
    text-align: center;
    /* color: inherit; */
    width: 100%;
}

.user { 
    color: white;
    font-size: 1rem;
    margin-left: auto;
}

.query-bar {
    width: 100%;
    background-color: var(--color2);
    /* outline: purple 2px solid; */
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.query-bar > form {
    width: clamp(200px, 70%, 700px);
    padding: 0;
    margin: 10px;


}

.query-bar > i {
    font-size: 1.6rem;
}

.dropbtn-prod > i{
    font-size: 1.6rem;
}



#query-search {
    /* margin: 10px; */
    padding-inline: 20px;
    border: none;
    border-radius: 30px;
    width: clamp(200px, 100%, 700px);
    height: 45px;
}

.site {
    /* outline: red 2px solid; */
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;
    /* justify-content: center; */
}

.banner {
    width: 100%;
    height: 300px;
    color: white;
    display: flex;
    align-items: center;
    background: url('../Images/circle-scatter-haikei.svg');
    background-size: cover;
    margin-bottom: 0;
    justify-content: center;
    text-align: center;
    /* outline: blue 2px solid; */
}

.banner > div {
    width: 100%;
    height: 100%;
    
    background: black;
    opacity: 0.7;
}

.banner >  h1 {
    font-size: 2rem;
    z-index: 21;
    position: absolute;
    
}



.dropbtn-prod {
    color: white;
    background: none;
    text-decoration: none;
    border: none;
    /* margin-left: auto; */
    font-size: 1.3rem;
}

.product-dropdown {
    /* margin-left: auto; */
    margin: 0;
    /* margin-right: 10px; */
}

.product-utils {
    display: none;
    position: absolute;
    /* display: grid; */
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    gap: 15px;
    width: 100%;
    top: 468px;
    background-color: var(--color2);
    left: 0;
    /* outline: red 2px solid; */
    padding: 10px 40px;
    z-index: 22;

    /* text-decoration: none; */
    /* display: inline; */
}
.category {
    text-decoration: none;
    padding: 10px;
    margin: 0;
    font-size: 0.8rem;
    font-weight: 500;
    /* outline: red 2px solid; */
    color: white;
    opacity: 0.8;
    display: flex;
    grid-row: auto;
    align-items: center;
    justify-content: start;
}

.category.active {
    /* opacity: 0.2; */
    /* color: white; */
    opacity: 1;
    /* outline: red 2px solid; */
    background-color: var(--color3);
    border-radius: 20px;
}

.category:hover {
    opacity: 1;
}

.product-utils.active {
    display: grid;
}

.dropbtn-prod.active {
    color: black;
}

.product-dropdown:hover .dropbtn-prod {
    color: black;
}

.site > h1 {
    color: white;
    font-size: 2rem;
}

.products {
    outline: 2px var(--color2) solid;
    width: 90%;
    height: 600px;
    display: flex;
    overflow-y: scroll;
    flex-wrap: wrap;
    justify-content: center;
    background: var(--color2);
    border-radius: 10px;
}

.product {
    /* outline: 2px wheat solid; */
    grid-row: auto;
    text-decoration: none;
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
    display: block;
    
}

.product-card {
    /* outline: green 2px solid; */
    /* width: 100%; */
    /* max-width: 400px; */
    height: 100%;
    display: flex;
    padding: 15px;
    flex-direction: column;
    text-align: center;
    /* height: 350px; */
    justify-content: space-between;
    align-items: center;
    background: var(--color3);
    /* opacity: 0.7; */
    color: white;
    border-radius: 10px;
    /* height: 300px; */
}

.img-container {
    width: 100%;
    height: 275px;
}

.prod-img {
    /* width: 200px; */
    border-radius: 10px;
    width: 100%;
    height: 275px;
    object-position: center;
    object-fit: cover;
    /* border-image-repeat:unset; */
    
    /* height: 275px; */
    /* background-position: center; */
    /* background-size:cover; */
    /* object-fit:fill; */
}

.product-card > h1 {
    width: 100%;
    margin-bottom: 0;
    font-size: 1.5rem;
}

.product-card > p {
    font-size: 1.1rem;
    color: whitesmoke;
    opacity: 0.6;
}

.product-card > h2 {
    opacity: 0.9;
}

.product-card > a {
    text-decoration: none;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    opacity: 0.8;
    font-size: 1.6rem;
    background: black;
    border-radius: 10px;
    width: 100%;
    height: 100px;
}

.product-card > a:hover {
    color: black;
    background: white;
}

.product-list{
    width: 100%;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    /* grid-auto-rows: min-content; */
    /* outline: yellow 2px solid; */
    margin: 10px;
    padding: 0;
}

.pagination { 
    display: flex;
    margin-top: 10px;
    margin-bottom: 40px;
}

.pagination > ul {
    /* margin: 0; */
    margin: 10px;
    padding: 0;
}

.link {
    display: inline-flex;
    margin-inline: 2px;
    align-items: center;
    justify-content: center;
    width: 25px;
    color: white;
    font-size: 1.1rem;
    font-weight:500;
    /* outline: purple 2px solid; */
    border-radius: 50%;
    /* padding: 4px; */
    /* padding: 3px; */
    /* margin: 0; */
}

.footer {
    background: var(--color2);
    /* height: 40vh; */
    display: flex;
    flex-direction: column;
    width: 100%;
}

.footer-logo {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-block: 60px;
    align-items: center;
    color: white;
    /* outline: blue 2px solid; */
}

.footer-logo > h1 {
    font-size: 2.4rem;
}
.footer-logo>p {
    opacity: 0.7;
}

.footer-logo > img {
    width: 250px
}

.footer-socials {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    /* outline: red 2px solid; */
}

.socials {
    color:  white;
    width: 100%;
    /* outline: purple 2px solid; */
    display: flex;
    justify-content: center;
}

.socials > a {
    color:  white;
    text-decoration: none;
    text-align: center;
    padding: 20px;
    text-justify: center    ;
    font-size: 1.1rem;
}



.pagination > button {
    text-decoration: none;
    color: white;
    font-size: 1rem;
    display: flex;
    /* size: 20rem; */
    align-items: center;
    gap: 10px;
    background: none;
    border: none;
    /* justify-content: space-between; */
}

.pagination > button:hover{
    color: black;
}

.link:hover{
    color: #000000;
}

ul li.active {
    background: var(--color4);
}

.user-card:hover {
    color: #000000;
}

.user-list {
    /* display: flex; */
    display: none;
    position: absolute;
    z-index: 30;
    padding: 10px;
    right: 86px;
    border-radius: 15px;
    background: var(--color3);
    /* margin-right: 500px; */
    flex-direction: column;
    /* outline: white 1px solid */
}

.user-list.active {
    display: flex;
}

.user-util {
    text-decoration: none;
    font-size: 1.2rem;
    padding: 10px;
    display: block;
}

.user-util.logged {
    display: none;
}

.user-util > a {
    text-decoration: none;
    color: white;
}

.user-util > a:hover {
    opacity: 0.7;
}

/* Media Queries */

/* Ipad Screen */

@media (width > 800px ) {

    .product-list {
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }

}

@media (width > 1200px) {
    .footer {
        flex-direction: row;
    }
    .footer-logo {
        width: 40%;
        
        /* outline: blue 2px solid; */
    }
    .footer-socials {
        /* outline: red 2px solid; */
        justify-content: space-evenly;
    }
  
}